<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>
        <%=title%>
    </title>
    <%-style%>
</head>
<body>
    <header id="layout-header">
        <%-include("_header")%>
    </header>

    
    <main >
        <%- body %>
    </main>
    



    <footer id="layout-footer">
        <%-include("_footer")%>
    </footer>
    

    <%-script%>
    
</body>
</html>